<% provide(:title, "Home") %>

<div class="jumbotron text-center">
  <h1>One Fiddy</h1>
  <h2>Type one hundred fifty words per minute, eventually.</h2>
  <%= link_to "Sign up now!", "#", class: "btn btn-primary"%>
</div>
