<p id="notice"><%= notice %></p>
<% provide(:title, "All Users") %>

<h1>Users</h1>

<ul class="users">
  <% @users.each do |u| %>
    <li>
      <%= link_to u.username, u %>
    </li>
  <% end %>
</ul>

