@import "bootstrap-sprockets";
@import "bootstrap";

/* jumbotron */

.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 61px;
}

/* universal */

h1, h2 {
  margin-bottom: 20px;
}

h1.title {
  margin-top: 0px;
}

/* navbar */

.navbar {
  background-color: #666bb1;
}

a.navbar-brand {
  color: white;
}

.navbar a {
  color: white;
}

.navbar a.dropdown-item {
  color: black;
}

.navbar-nav li {
  padding: 5px 15px;
}

.collapse {
  font-size: 16px;
}

.dropdown-toggle {
  background-color: #4b8ac3;
}

.dropdown-toggle:hover {
  background-color: white;
}

.nav-link:hover {
  color: rgb(212, 212, 212);
}


/* footer */

footer .container {
  height: 40px;
}
